{% extends 'base.html' %}
{% load humanize %}
{% block title %}| Dashboard{% endblock title %}

{% block content %}
{# Alerts #}
{% include 'components/messages.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'index' %}">
						<i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item active"> Dashboard</li>
			</ol>
		</nav>
	</div>
</section>

<section id="dashboard" class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Welcome {{ user.first_name | title }}</h2>
				{% if object_list %}
				<p><strong>Here are the courses that you have inquired about:</strong></p>
				<table class="table">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Course</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{% for contact in object_list %}
					<tr>
						<td>{{contact.id}}</td>
						<td>{{contact.course}}</td>
						<td>
							<a class="btn btn-secondary" href="{% url 'course' contact.course_id %}">View Course</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>You have not made any inquiries.</p>
				{% endif %}

				<!-- Add subscribed courses here -->
				{% if bought_courses %}
				<p><strong>Here are the courses that you have bought:</strong></p>
				<table class="table">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Course</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{% for course in bought_courses %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ course.title }}</td>
						<td>
							<a class="btn btn-secondary" href="{% url 'course_content' course.id %}">View Course</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>You have not bought any course yet.</p>
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% endblock %}
