{% extends "base.html" %}
{% load humanize %}
{% block title %}| {{course.title}}{% endblock title %}

{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{course.title}}</h1>
                    <p class="lead">
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'courses' %}">Courses</a>
                    </li>
                    <li class="breadcrumb-item active">{{course.title}}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Listing -->
    <section id="course" class="py-4">
        <div class="container">
            <a href="{% url 'courses' %}" class="btn btn-light mb-4">Back To Courses</a>
            <div class="row">
                <div class="col-md-9">
                    <!-- Home Main Image -->
                    <img src="{{course.main_pic.url}}" alt="" class="img-main img-fluid mb-3">

                    <!-- Thumbnails -->
                    <div class="row mb-5 thumbs">
                    {% if course.pic_1 %}
                        <div class="col-md-2">
                            <a href="{{ course.pic_1.url }}" data-lightbox="home-images">
                                <img src="{{ course.pic_1.url }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    {% endif %}
                    {% if course.pic_2 %}
                        <div class="col-md-2">
                            <a href="{{ course.pic_2.url }}.jpg" data-lightbox="home-images">
                                <img src="{{ course.pic_2.url }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    {% endif %}
                    {% if course.pic_3 %}
                        <div class="col-md-2">
                            <a href="{{ course.pic_3.url }}" data-lightbox="home-images">
                                <img src="{{ course.pic_3.url }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    {% endif %}
                    </div>
                    <!-- Fields -->
                    <div class="row mb-5 fields">
                        <div class="col-lg-12">
                                <div class="row py-2 text-secondary">
                                    <div class="col-6"><i class="fas fa-euro-sign text-secondary"></i>
                                    {% if course.price == 0 %}
                                        {{"Free"}}
                                    {% else %}
                                        {{course.price | intcomma}}
                                    {% endif %} </div>
                                    <div class="col-6"><i class="fas fa-book text-secondary"></i> {{ course.lessons }} lessons</div>
                                </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="row mb-5">
                        <div class="col-md-12">
                            {{ course.description }}
                        </div>
                    </div>
                    <hr>

                    <!-- This should bring me to Stripe payment -->
                    <a href="" class="btn btn-primary btn-block">Enroll Now</a> 
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img class="course-img" src="{{ course.teacher.teacher_pic.url }}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Teacher</h5>
                            <h6 class="text-secondary">{{ course.teacher }}</h6>
                        </div>
                    </div>
                    <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Contact Us</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}