{% extends "base.html" %}
{% load humanize %}
{% block title %}| Our Courses{% endblock title %}

{% block content %}

<!-- Courses -->
<section id="courses" class="py-5">
    <div class="container">
        <h3 class="text-center mb-3">Online Yoga Courses</h3>
        <div class="row">
            {% if courses %}
                {% for course in courses %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div class="card listing-preview h-100">
                            <img class="card-img-top h-100" src="{{ course.main_pic.url }}" alt="">
                            <div class="card-body">
                            <div class="listing-heading text-center">
                                <h5 class="text-primary">{{ course.title }}</h5>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6"><i class="fas fa-euro-sign text-secondary"></i>
                                    {% if course.price == 0 %}
                                        {{"Free"}}
                                    {% else %}
                                        {{course.price | intcomma}}
                                    {% endif %} </div>
                                    <div class="col-6"><i class="fas fa-book text-secondary"></i> {{ course.lessons }} lessons</div>
                                </div>
                                <hr>
                                <a href="{% url 'course' course.id %}" class="btn btn-primary btn-block">Enroll Now</a>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No Courses Available</p>
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if is_paginated %}
                    {% include 'partials/_pagination.html' with page=page_obj %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}